body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(123, 112, 112);
  display: block;
}
.container {
  border: 1px solid rgb(196, 188, 188);
  border-radius: 6px;
  width: 53%;
  margin: 20px 24px;
  box-shadow: 3px 4px 17px rgba(0, 0, 0, 0.1);
}
footer {
  text-align: left;
  margin-left: 25px;
}
.weatherDay {
  padding: 10px;
}
.columnDays {
  padding-top: 20px;
}
#searchButton {
  margin: 6px;
}
#weather-border {
  border: 1px solid rgb(196, 188, 188);
  padding: 5px;
  border-radius: 4px;
  margin-left: 3px;
  margin-right: 3px;
}
#search-text-input {
  margin: 20px 0;
  border: 1px solid rgb(196, 188, 188);
  border-radius: 6px;
  line-height: 2.2;
}
#temperature {
  font-size: 40px;
  color: black;
}
#description {
  margin-bottom: 20px;
  font-size: 20px;
}
#date {
  font-size: 20px;
}
#city {
  font-size: 35px;
}
